#page-wrapper {
    margin-left: 0;
    background: linear-gradient(0deg, rgba(126, 280, 123, .7), rgba(250,198,0, .7)), url('/img/background.jpg');
}
#page-wrapper.sk-loading {
    position: relative;
}
#page-wrapper.sk-loading:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#page-wrapper > .sk-spinner,
#page-wrapper > .sk-spinner-text,
#page-wrapper > .sk-spinner-btn {
    display: none;
}
#page-wrapper.sk-loading > .sk-spinner {
    display: block;
    position: fixed;
    top: 30%;
    left: 5%;
    right: 0;
    z-index: 2000;
}
#page-wrapper.sk-loading > p.sk-spinner-text {
    display: block;
    position: fixed;
    top: 40%;
    left: 5%;
    right: 0;
    text-align: center;
    z-index: 2000;
}

#sample01.sk-loading > p.sk-spinner-text {
    display: block;
    position: fixed;
    text-align: center;
    z-index: 2000;
    width: 96%;
    left: 19%;
    top: 30%;
}

#page-wrapper.sk-loading > .sk-spinner-btn {
    display: block;
    position: fixed;
    top: 50%;
    left: 5%;
    right: 0;
    width: 150px;
    margin: auto;
    text-align: center;
    z-index: 2000;
}
#page-next-wrapper {
    padding: 0 0 39px;
    /*padding: 0;*/
}
.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 100%;
    height:30px;
    margin: 0 auto 0;
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a,
.dropmenu li button{

    display: block;
    margin: 0;
    padding: 7px 0 7px;
    background: #fff;
    color: #676a6c;
    opacity:0.8;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;

}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a,
.dropmenu li ul li button{
    padding: 7px 7px;
    /*border-top: 1px solid #ffffff;*/
    background: #fff;
    opacity:1;
    text-align: left;
}
.dropmenu li:hover > a,
.dropmenu li:hover > button{
    background: #ffffe0;
    cursor: pointer;
}
.dropmenu li a:hover{
    background: #ffffe0;
}

#dropmenu li ul li{
    overflow: hidden;
    height: 0;
    transition: .2s;
}
#dropmenu li:hover ul li{
    overflow: visible;
    height: 28px;
}
#dropmenu li:active ul li{

}

.genre-push,
.area-push {
    height: 200px;
    /*color: #ffffe0;*/
    font-weight: normal;
    transition: .2s;
    cursor: pointer;
    position: relative;
}
#BoxGenreexhibition {
    background-color: rgba(112, 194, 163, 0.25);
}
#PushGenreexhibition {
    background-color: #70c2a3;
}
#BoxGenremusic {
    background-color: rgba(234, 209, 82, 0.25);
}
#PushGenremusic {
    background-color: #ead152;
}
#BoxGenreshop {
    background-color: rgba(161, 203, 237, 0.25);
}
#PushGenreshop {
    background-color: #a1cbed;
}
#BoxGenreperformance {
    background-color: rgba(243, 162, 159, 0.25);
}
#PushGenreperformance {
    background-color: #f3a29f;
}
#BoxGenrejoin {
    background-color: rgba(191, 154, 198, 0.25);
}
#PushGenrejoin {
    background-color: #bf9ac6;
}
#BoxGenrelecture {
    background-color: rgba(238, 189, 128, 0.25);
}
#PushGenrelecture {
    background-color: #eebd80;
}
.genre-push:hover,
.area-push:hover {
    filter:brightness(1.1);
}
.genre-push img {
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    bottom: 10px;
    margin: auto;
    opacity: 0.9;
}

#jQueryPush2 {
    z-index:3;
}
#jQueryBox2 {
    z-index:1;
}

.highlight {
    background: #ffffe0 !important;
    color:#ffa500 !important;
}
#all-cover {
    margin-bottom: 0;
}
#all-cover > .ibox-content {
    min-height: 760px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border: none;
}
#all-cover2 > .ibox-content {
    background-color: rgba(255,255,255,0.5);
    border: none;

}
fieldset .ibox .ibox-content {
    height:540px;
    overflow: hidden;
}
.panel-body {
    height:500px;
    overflow: hidden;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.modal-head {
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.modal-contents {
    width: 100%;
    padding: 30px 30px 15px;
}
.modal-exp {
    padding: 0 15px;
}
.exp {
    width: 100%;
    padding: 0 15px;
}
.modal-contents .modal-p {
    background-color: #a9a9a9;
    width: 250px;
    margin-left: -30px;
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    text-align: right;
    position: relative;
}
.modal-contents .modal-p::before {
    content: '';
    height: 10px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 44px;
    margin-left: 10px;
    background-color: #dcdcdc;
}
.modal-contents .modal-p::after {
    content: '';
    height: 44px;
    width: 10px;
    position: absolute;
    padding: 5px;
    margin-left: 10px;
    background-color: #dcdcdc;
}
.modal-web {
    margin: 25px;
}
.modal-footer {
    background-color: #e5e5e5;
}
#page-wrapper {
    min-height: 700px;
}
.wizard-big.wizard > .content {
    min-height: 640px !important;
}

.outside {
    margin-left: 30px;
}

.vertical-timeline-time {
    color: #676a6c;
    font-size: 13px;
}
.vertical-timeline-time p {
    margin: 0;
}

.vertical-timeline-icon {
    z-index: 100;
}
/*.vertical-timeline-icon:hover {
    cursor: pointer;
}*/
.draggable-back {
    position: absolute;
    top: 100px;
    height: 218px;
    width: 100%;
}
.draggable-front {
    position: relative;
}

.vertical-timeline-first-time {
    z-index: 100;
    position: relative;
}


/*div#backr1d1 {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 79px;
    z-index: 0;
}
div#backr1d2 {
    position: absolute;
    width: 100%;
    height: 219px;
    top: 79px;
    z-index: 0;
}*/

.vertical-timeline-time-block {
    position: absolute;
    margin-left: -35px;
    top: 10px;
}
.vertical-container {
    margin-left: 30px;
}
.fa-timeline {
    position: relative;
    left: 50px;
}
.fa-timeline-icon {
    font-size: large;
    margin-right: 10px;
}
[data-block="out"] {
    z-index: 1;
}
[data-block="in"] {
    z-index: 2;
    display: none;

}
.feed-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;

}
.vertical-timeline-content > h2 {
    background: none;
}
.wrapper-content {
    background-color: #fff0f5;
}

#page-wrapper {
    padding: 0px;
}
li.disabled > a#form-t-0,
li.disabled > a#form-t-1,
li.disabled > a#form-t-2,
li.disabled >a#form-t-3,
.content.clearfix {
    background-color: rgba(124,252,0,0.3) !important;
    /*color: white !important;*/
}
li.current > a#form-t-0,
li.current > a#form-t-1,
li.current > a#form-t-2,
li.current > a#form-t-3 {
    background-color: #3cb371 !important;
}
li.done > a#form-t-0,
li.done > a#form-t-1,
li.done > a#form-t-2,
li.done > a#form-t-3 {
    background-color: rgba(130,185,0,1) !important;
}

/*h2 {
    background-color: rgba(255,255,255,0.8);
}*/

h2.alg {
    background-color: inherit;
}

.background-muted {
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
.background-muted h2,
.background-muted p {
    display: inline;
}

fieldset {
    padding-top: 15px !important;
}
body {
    background-color: #ffffff !important;
}
.wizard > .actions a,
.wizard > .actions a:active {
    background-color: rgba(130,185,0,1) !important;
}
.wizard > .actions a:hover {
    filter: brightness(1.1) !important;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #eee !important;
    color: #aaa !important;
}

button#ap {
    font-size:medium;
    position: relative;
    display: inline-block;
    transition: .3s;
}
button#ap::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #2ecc71;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
button#ap:hover::after {
    width: 100%;
}
a#jump div {
    background-color:rgba(255,255,255,0.8);
    transition: all .3s;
}
a#jump div:hover,
a#jump div:active {
    background-color:rgba(255,255,255,0.9);
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
.wizard > .content > .body {
    width: 100% !important;
}
.last-conf {
    padding: 5px 0 !important;
}
h1.top-title {
    color: #ffffe0;
    font-size: 12em;
    text-align: center;
    margin-top: 30px;
}
.sub-title {
    padding: 10px;
    background-color: rgba(243, 243, 244, 0.3);
    margin-bottom: 10px;
}
.modal-content .ibox-content {
    height: initial !important;
}
.modal-content .h2 {
    background-color: initial;
}
li.fist-item {
    border-bottom: none;
}
.contact-box {
    border: none;
}
fieldset .tabs-container .i-checks {
    margin-right: 5px;
}
.panel-last-kikaku {
    height: 400px;
}

/*search/resultのエリア毎のバッジ*/
.akamon-bg {
    background-color: #da415a;
    color: #ffffff;
}
.yasuko-bg {
    background-color: #dc8c00;
    color: #ffffff;
}
.ko_dept-bg {
    background-color: #0097ca;
    color: #ffffff;
}
.no_dept-bg {
    background-color: #6da62b;
    color: #ffffff;
}

.nav-tabs > li > a {
    padding: 10px 15px 10px 15px;
}
.area-box.contact-box,
.genre-box.contact-box {
    height:458px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.genre-box.contact-box {
    padding: 20px;
    /*overflow: scroll;*/
}
.scroll-inbox {
    height: 353px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.genre-box.contact-box .list-group.clear-list .list-group-item {
    border-color: #fffff0 !important;
}
.transparent {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    height: 100%;
    /*overflow: scroll;*/
}
.check-text {
    width: 30%;
}

.body-text,
.place-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.body-text {
    width: 25%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.place-text {
    width: 15%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.stay-text {
     width: 5%;
     margin-right: 2%;
     text-align: right;
     float: right;
}
.time-text {
    width: 6%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.exp-text {
    width: 3%;
    margin-right: 20px;
    text-align: right;
    float: right;
}
.widget {
    position: relative;
}
.widget:hover {
    filter: brightness(1.1);
}
#row1 .widget {
    height: 130px;
}
.row2 .widget {
    height: 190px;
}
.widget-back {
    height: 130px;
}
.widget-back:hover {
    cursor: pointer;
}
.widget-vote {
    height: 250px;
}
.widget.navy-bg {
    background-color: rgba(26, 179, 148, 0.8);
}
.widget.lazur-bg {
    background-color: rgba(35, 198, 200, 0.8);
}
.widget.yellow-bg {
    background-color: rgba(248, 172, 89, 0.8);
}
.widget.red-bg {
    background-color: rgba(237, 85, 101, 0.8);
}
.widget p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}
.widget-back p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 15px;
}
.widget-vote p {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    overflow: hidden;
}
.widget1 {
    margin-right: -20px;
}
.widget2 {
    margin-left: -20px;
}
.widget1:hover {
    margin-right: 0;
    margin-left: -20px;
}
.widget2:hover {
    margin-left: 0;
    margin-right: -20px;
}

.fa-first {
    position: absolute;
    font-size: 80px;
}
.fa-second {
    position: absolute;
    font-size: 70px;
    color: rgba(255,255,255,0.8);
    left: 50px;

}
.widget-back .fa-first {
    right: 10px;
    text-align: right;
}

.widget-back .fa-second {
    top: 10px;
    right: 50px;
    text-align: right;
}
.vote-comment {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 4px 0;
    background-color: rgba(255,255,255,0.8);
    color: #00a67b;
    text-align: center;
    z-index: 1000;
    width: 100%;
}
.vote-maychan {
    position: absolute;
    top: initial !important;
    bottom: 0 !important;
    height: 40%;
}
.vote-maychan img {
    z-index: 500;

}
.push-outside {
    overflow: scroll;
}
.phone-display {
    display: none;
}
#all-cover2 > .ibox-content > .ibox > .ibox-content > .row  {
    position: relative;
}
.foot-btn1 {
    position: absolute;
    bottom: 0;
    right: 20px;
}
.foot-btn2 {
    position: absolute;
    top: 650px;
    right: 20px;
}
#id1 {
    display: block;
}
#id2 {
    display: none;
}
.position-tip {
    height: 650px;
}
#map_img {
    width: 904px;
    height: 650px;
    overflow: hidden;
    border: #dcdcdc solid 2px;
}
.origin-map {
    height: 640px;
    width: 900px;
    z-index:1;
    position: absolute;
}
.over-map {
    width: 900px;
    z-index: 2;
    position: absolute;
}
.origin-map img,
.over-map img {
    width: 100%;
    position: absolute;
}
.row-cover {
    width: 100%;
    /*overflow-y: auto;
    overflow-x: hidden;*/
}
.width-over {
    width: 100%;
    padding: 3px 0 3px 34px;
    text-indent: -15px;
}
.width-over i {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.width-over i.pe-7s-map-marker {
    margin-right: 15px;
}
.width-over i.pe-7s-date {
    margin-right: 16px;
}
.width-over i.pe-7s-clock {
    margin-right: 16px;
}
#map_img:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.pos-cover {
    width: 100% !important;
    height: 424px;
    overflow: scroll;
}
.mapper {
    cursor: crosshair;
}
.contact-box.center-version .pe-7s-date,
.contact-box.center-version .pe-7s-clock {
    font-size: 60px;
     margin-top: 30px;
     margin-bottom: 30px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
}
li.select2-search.select2-search--inline {
    /*width: 100% !important;*/
}
input.select2-search__field {
    /*width: 100% !important;*/
}
input.select2-search__field::-moz-placeholder {
    color: #999 !important;
}
input.select2-search__field:-ms-input-placeholder {
    color: #999 !important;
}
input.select2-search__field:-moz-placeholder {
    color: #999 !important;
}
input.select2-search__field::-webkit-input-placeholder {
    color: #999 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: initial !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 6px !important;
    margin-left: 1px;
}
.play-stop-row {
    position: relative;
    width: 904px;
    background-color: #dcdcdc;
    padding: 5px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.position-top {
    height: 20px;
    width: 100%;
    background-color: #dcdcdc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
span.select2-selection__choice__remove {
    /*display: none !important;*/
}
#print-page {
    position: relative;
}
#print-table {
    position: absolute;
    top: 650px;
}
.print-off {
    display: none;
}
.is-sticky {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 24px;
}
.rec_pku_acd_icon {
    width: 180px;
    float: right;
    text-align: right;
}
.title-plain {
    max-width: 270px;
    margin-left: -30px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 10px;
    font-size: 17px;
    position: relative;
    background-color: rgba(245,245,245,0.5);
    color: #2f4f4f;
}
.title-plain h2 {
    display: inline;
    float: right;
}
.title-plain .btn-link {
    margin-top: -10px;
    color: #888888 !important;
}
.title-plain .btn-link:hover {
    color: #1ab394 !important;
}
.title-plain::before {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 44px;
    background-color: #a9a9a9;
}
.map-backgd {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@media screen and ( max-width:1199px ) {
    .pos-cover {
        height: 514px;
    }
    #all-cover > .ibox-content {
        min-height: 850px;
        height: 100%;
    }
    .wizard-big.wizard > .content {
        min-height: 735px !important;
    }
    .panel-body {
        height: 590px;
    }
    .search-in {
        height: 510px;
    }
    .search-in2 {
        height: 560px;
    }
    .area-box.contact-box,
    .genre-box.contact-box {
        height: 550px;
    }
    fieldset .ibox .ibox-content {
        height: 630px;
    }
    .scroll-inbox {
        height: 445px;
    }
}
@media screen and ( max-width:991px ) {

    #id1 {
        display: none;
    }
    #id2 {
        display: block;
    }
}
@media screen and ( max-width:767px ) {
    body {
        font-size: 12px;
    }
    h2 {
        font-size: 15px;
    }
    .position-tip {
        height: 550px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .play-stop-row {
        width: 100%;
    }
    .ibox-content {
        padding: 10px 5px;
    }
    #id2 .widget.widget1 {
        height: 60px;
    }
    #id2 .widget.widget-back {
        height: 40px;
    }
    #id2 .widget.widget-vote {
        height: 80px;
    }
    #id2 .widget {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .widget p {
        font-size: 9px !important;
        bottom: 0px;
        left: 5px;
    }
    .table-responsive {
        border: none;
    }
    .push-outside {
        height: 500px;
    }
    .vertical-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .vertical-timeline-time {
        font-size: 12px;
    }
    .vertical-timeline-time-block {
        position: absolute;
        margin-left: 3px;
        top: 50px;
    }
    .vote-maychan {
        height: 70%;
    }
    .vote-comment {
        display: block;
    }
    #map_img {
        margin-top: 30px;
        width: 700px;
    }
    .origin-map img,
    .over-map img {
        width: 700px;
    }
    .origin-map,
    .over-map {
        width: 700px;
        height: 500px;
    }
    div.widget{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #row1 .widget {
        height: 60px;
    }
    .widget1:hover {
        margin-right: 0;
        margin-left: 0px;
    }
    .widget2:hover {
        margin-left: 0;
        margin-right: 0px;
    }
    .fa-first {
        position: absolute;
        font-size: 40px;
        right: 10px;
    }
    .fa-second {
        position: absolute;
        font-size: 30px;
        color: rgba(255,255,255,0.8);
        left: initial;
        right: 30px;

    }
    .widget-back .fa-first {
        right: 10px;
        top: 0;
        text-align: right;
    }
    .widget-back .fa-second {
        top: 0;
        right: 35px;
        text-align: right;
    }
    .vote-maychan {
        margin: initial !important;
        right: 10px !important;
        left: initial !important;
    }
    .vote-maychan img {
        height: 140px;
    }
    .vote-comment {
        width: 140px;
    }
    #sample01 {
        position: relative;
    }
    #page-wrapper.sk-loading > p.sk-spinner-text,
    #sample01.sk-loading > p.sk-spinner-text {
        display: block;
        position: fixed;
        text-align: center;
        z-index: 2000;
    }
    #page-wrapper.sk-loading > p.sk-spinner-text {
        width: 93%;
        left: 7%;
        top:40%;
    }
    #sample01.sk-loading > p.sk-spinner-text {
        width: 96%;
        left: 7%;
        top: 51%;
    }
    #sample01.sk-loading > .sk-spinner-double-bounce {
        display: block;
        position: fixed;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        z-index: 2000;
    }

    #page-wrapper.sk-loading > .sk-spinner-btn {
        display: block;
        position: fixed;
        top: 45%;
        left:5%;
        width: 150px;
        margin: auto;
        text-align: center;
        z-index: 2000;
    }
}
@media screen and ( max-width:752px ) {
    .phone-display {
        display: block !important;
    }
    .area-box.contact-box, .genre-box.contact-box {
        height: 500px;
    }
    .search-in {
        height: 450px;
    }
    .search-in2 {
        height: 500px;
    }
    .nav-tabs > li > a > span {
        display: none;
    }
    .nav-tabs > li > a {
        padding: 10px 8px 10px 13px;
    }
    span.place-text,
    span.body-text {
        display: none;
    }
    span.place-text,
    span.body-text {
         display: none;
    }
    span.time-text {
         margin-left: -15%;
     }
    span.time-text,
    span.stay-text {
         width: 15%;
    }
    .check-text {
        width: 95%;
    }
    fieldset > div.background-muted > p {
        display: none;
    }
    .footer div:not(.pull-right) {
        display: none;
    }
    .genre-push, .area-push {
        height: 100px;
    }
    .contact-box.center-version {
        margin-bottom :5px;
    }
    .contact-box.center-version .pe-7s-date,
    .contact-box.center-version .pe-7s-clock {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .scroll-inbox {
        height: 395px;
    }
}
@media screen and ( max-width:660px ) {
    .pos-cover {
        height: 514px !important;
    }
}

@media screen and ( max-width:500px) {
    .footer {
        font-size: 11px;
        height: 39px;
    }
}
@media screen and ( max-width:346px ) {
    .pos-cover {
        height: 494px !important;
    }
}
.SNS-link{
    position: absolute;
    width: 20%;
    height: 5%;
    top: 87%;
    left: 36%;
    padding-top: 1%;
}
a.line{
    position: absolute;
    top: 40%;
    left: 36%;
}
