li {
    list-style:none;
}

.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 100%;
    height:30px;
    margin: 0px auto 0px;
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a,
.dropmenu li button{

    display: block;
    margin: 0;
    padding: 7px 0 7px;
    background: #fff;
    color: #676a6c;
    opacity:0.8;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;

}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a,
.dropmenu li ul li button{
    padding: 7px 7px;
    /*border-top: 1px solid #ffffff;*/
    background: #fff;
    opacity:1;
    text-align: left;
}
.dropmenu li:hover > a,
.dropmenu li:hover > button{
    background: #ffffe0;
    cursor: pointer;
}
.dropmenu li a:hover{
    background: #ffffe0;
}

#dropmenu li ul li{
    overflow: hidden;
    height: 0;
    transition: .2s;
}
#dropmenu li:hover ul li{
    overflow: visible;
    height: 28px;
}
#dropmenu li:active ul li{

}

/* 地図 */
#map_img {
    position:relative;
    padding: 0px;
}
#map_img img { position:absolute; left:0; top:0; }

.contact-box {
    height: 200px;
    /*color: #ffffe0;*/
    font-weight: normal;
    transition: .2s;
}
.contact-box:hover {
    filter:brightness(1.1);
}

#jQueryPush2 {
    z-index:3;
}
#jQueryBox2 {
    z-index:1;
}

.highlight {
    background: #ffffe0 !important;
    color:#ffa500 !important;
}
fieldset .ibox .ibox-content {
    height:460px;
    overflow: scroll;
}
#tab-1 .panel-body {
    min-height:380px;
}

#tab-2 .panel-body {
    min-height:380px;
}
#tab-3 .panel-body {
    height:460px;
    overflow: scroll;
}
#tab-4 .panel-body {
    min-height:380px;
}

#page-wrapper {
    min-height: 700px;
}
.wizard-big.wizard > .content {
    min-height: 550px !important;
}

.outside {
    margin-left: 30px;
}
.vertical-timeline-time {
    color: #676a6c;
    font-size: 13px;
}
.vertical-timeline-time p {
    margin: 0;
}

.vertical-timeline-icon {
    z-index: 100;
}
/*.vertical-timeline-icon:hover {
    cursor: pointer;
}*/
.draggable-back {
    position: absolute;
    top: 100px;
    height: 218px;
    width: 100%;
}
.draggable-front {
    position: relative;
}

.vertical-timeline-first-time {
    z-index: 100;
    position: relative;
}


/*div#backr1d1 {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 79px;
    z-index: 0;
}
div#backr1d2 {
    position: absolute;
    width: 100%;
    height: 219px;
    top: 79px;
    z-index: 0;
}*/

.vertical-timeline-time-block {
    position: absolute;
    margin-left: -35px;
    top: 10px;
}
.vertical-container {
    margin-left: 30px;
}
.fa-timeline {
    position: relative;
    left: 50px;
}
.fa-timeline-icon {
    font-size: large;
    margin-right: 10px;
}
[data-block="out"] {
    z-index: 1;
}
[data-block="in"] {
    z-index: 2;
    display: none;

}
.feed-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;

}
.contact-box.center-version > a:hover {
    background-color: #ffffe0;
}
.wizard > .content > .body {
    width: 100% !important;
}
