div#toptitle {
    color: #f1faed;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    background: #12ba55;
    padding: 20px;
    border: 1px
    dashed rgba(255,255,255,0.8);
    box-shadow: 0 0 0 5px #12ba55;
    -moz-box-shadow: 0 0 0 5px #12ba55;
    -webkit-box-shadow: 0 0 0 5px #12ba55;
    font-size: 90%;
}
img.alg_img{
    width: 80%;
}
div.rule{
    border:1px dashed #a2de86;
    width: 100%;
    border-radius: 10px;
    background: #a2de86;
}
div.rule_outside{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
p,div{font-size: 18px;
}
div.pull-right,div.pull-left{
    font-size: 13px;
}
@media screen and (max-width: 767px) {
    div#toptitle {
        width: 100%;
    }
    p,div{font-size: 13px;
    }
    div.pull-right,div.pull-left{
        font-size: 5px;
    }
}
div.section {
    color: #f1faed;
    width: 80%;
    background: #55d21a;
    padding: 20px;
    border: 1px
    box-shadow: 0 0 0 5px #a2de86;
    -moz-box-shadow: 0 0 0 5px #a2de86;
    -webkit-box-shadow: 0 0 0 5px #a2de86;
    font-size: 90%;
    border-radius: 10px;
}
div.row{
    background: rgb(220, 238, 176);
}
div.ibox-content{
    background: rgb(220, 238, 176);
}
tr{
    background: rgb(251, 251, 246);
}
