#page-wrapper {
    margin-left: 0;
    background: linear-gradient(0deg, rgba(0,100,0, .7), rgba(255, 244, 98, .7)), url('/img/background2.jpg');
}
#page-wrapper.sk-loading {
    position: relative;
}
#page-wrapper.sk-loading:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#page-wrapper > .sk-spinner,
#page-wrapper > .sk-spinner-text,
#page-wrapper > .sk-spinner-btn {
    display: none;
}
#page-wrapper.sk-loading > .sk-spinner {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 2000;
}
#page-wrapper.sk-loading > p.sk-spinner-text {
    display: block;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2000;
}

#page-wrapper.sk-loading > .sk-spinner-btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    text-align: center;
    z-index: 2000;
}
#page-next-wrapper {
    padding: 0 0 39px;
    /*padding: 0;*/
}
.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 100%;
    height:30px;
    margin: 0 auto 0;
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a,
.dropmenu li button{

    display: block;
    margin: 0;
    padding: 7px 0 7px;
    background: #fff;
    color: #676a6c;
    opacity:0.8;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;

}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a,
.dropmenu li ul li button{
    padding: 7px 7px;
    /*border-top: 1px solid #ffffff;*/
    background: #fff;
    opacity:1;
    text-align: left;
}
.dropmenu li:hover > a,
.dropmenu li:hover > button{
    background: #ffffe0;
    cursor: pointer;
}
.dropmenu li a:hover{
    background: #ffffe0;
}

#dropmenu li ul li{
    overflow: hidden;
    height: 0;
    transition: .2s;
}
#dropmenu li:hover ul li{
    overflow: visible;
    height: 28px;
}
#dropmenu li:active ul li{

}

.genre-push,
.area-push {
    height: 200px;
    /*color: #ffffe0;*/
    font-weight: normal;
    transition: .2s;
}
.genre-push:hover,
.area-push:hover {
    filter:brightness(1.1);
}

#jQueryPush2 {
    z-index:3;
}
#jQueryBox2 {
    z-index:1;
}

.highlight {
    background: #ffffe0 !important;
    color:#ffa500 !important;
}
#all-cover {
    margin-bottom: 0;
}
#all-cover > .ibox-content {
    height: 760px;
    background-color: rgba(255,255,255,0.5);
    border: none;
}
#all-cover2 > .ibox-content {
    background-color: rgba(255,255,255,0.5);
    border: none;

}
fieldset .ibox .ibox-content {
    height:540px;
    overflow: hidden;
}
.panel-body {
    height:500px;
    overflow: hidden;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.search-in {
    height: 430px;
    overflow: scroll;
}
.search-in2 {
    height: 470px;
    overflow: scroll;
}
.modal-exp {
    background-color: #fcf8e3;
    text-align: left;
    margin-bottom: 0;
}

#page-wrapper {
    min-height: 700px;
}
.wizard-big.wizard > .content {
    min-height: 640px !important;
}

.outside {
    margin-left: 30px;
}

.vertical-timeline-time {
    color: #676a6c;
    font-size: 13px;
}
.vertical-timeline-time p {
    margin: 0;
}

.vertical-timeline-icon {
    z-index: 100;
}
/*.vertical-timeline-icon:hover {
    cursor: pointer;
}*/
.draggable-back {
    position: absolute;
    top: 100px;
    height: 218px;
    width: 100%;
}
.draggable-front {
    position: relative;
}

.vertical-timeline-first-time {
    z-index: 100;
    position: relative;
}


/*div#backr1d1 {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 79px;
    z-index: 0;
}
div#backr1d2 {
    position: absolute;
    width: 100%;
    height: 219px;
    top: 79px;
    z-index: 0;
}*/

.vertical-timeline-time-block {
    position: absolute;
    margin-left: -35px;
    top: 10px;
}
.vertical-container {
    margin-left: 30px;
}
.fa-timeline {
    position: relative;
    left: 50px;
}
.fa-timeline-icon {
    font-size: large;
    margin-right: 10px;
}
[data-block="out"] {
    z-index: 1;
}
[data-block="in"] {
    z-index: 2;
    display: none;

}
.feed-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;

}
.vertical-timeline-content > h2 {
    background: none;
}
.wrapper-content {
    background-color: #fff0f5;
}

#page-wrapper {
    padding: 0px;
}
li.disabled > a#form-t-0,
li.disabled > a#form-t-1,
li.disabled > a#form-t-2,
li.disabled >a#form-t-3,
.content.clearfix {
    background-color: rgba(124,252,0,0.3) !important;
    /*color: white !important;*/
}
li.current > a#form-t-0,
li.current > a#form-t-1,
li.current > a#form-t-2,
li.current > a#form-t-3 {
    background-color: #3cb371 !important;
}
li.done > a#form-t-0,
li.done > a#form-t-1,
li.done > a#form-t-2,
li.done > a#form-t-3 {
    background-color: rgba(130,185,0,1) !important;
}

/*h2 {
    background-color: rgba(255,255,255,0.8);
}*/

h2.alg {
    background-color: inherit;
}

.background-muted {
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
.background-muted h2,
.background-muted p {
    display: inline;
}

fieldset {
    padding-top: 15px !important;
}
body {
    background-color: #ffffff !important;
}
.wizard > .actions a,
.wizard > .actions a:active {
    background-color: rgba(130,185,0,1) !important;
}
.wizard > .actions a:hover {
    filter: brightness(1.1) !important;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #eee !important;
    color: #aaa !important;
}

button#ap {
    font-size:medium;
    position: relative;
    display: inline-block;
    transition: .3s;
}
button#ap::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #2ecc71;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
button#ap:hover::after {
    width: 100%;
}
a#jump div {
    background-color:rgba(255,255,255,0.8);
    transition: all .3s;
}
a#jump div:hover,
a#jump div:active {
    background-color:rgba(255,255,255,0.9);
}

div#may-chan {
    background-image : url('/img/may-chan2-2.png');
    width:360px;
    height:300px;
    position: absolute;
    left: -10px;
    bottom: 0px;
    transition: all .3s;
}
div#may-chan:hover {
    left: 10px;
    bottom: 20px;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: flash;
    animation-duration: 1.5s;
    animation-name: flash;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
div#may-chan:active {
    left: 10px;
    bottom: 20px;
}

div#comment {
    background-image : url('/img/comment-3.png');
    display: none;
    width:253px;
    height:200px;
    position: absolute;
    left: 370px;
    bottom: 150px;
}

a#footer:hover,
a#footer:active {

}

/*
.contact-box.center-version > a {
    background-color: #ffffe0;
}
.contact-box.center-version > a:hover {
    background-color: #ffffe0;
}*/
.wizard > .content > .body {
    width: 100% !important;
}
.last-conf {
    padding: 5px 0 !important;
}
h1.top-title {
    color: #ffffe0;
    font-size: 12em;
    text-align: center;
    margin-top: 30px;
}
.sub-title {
    padding: 10px;
    background-color: rgba(243, 243, 244, 0.3);
    margin-bottom: 20px;
}
.modal-content .ibox-content {
    height: initial !important;
}
.modal-content .h2 {
    background-color: initial;
}
li.fist-item {
    border-bottom: none;
}
.contact-box {
    border: none;
}
.transparent {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    height: 100%;
    overflow: scroll;
}
fieldset .tabs-container .i-checks {
    margin-right: 5px;
}
.panel-last-kikaku {
    height: 400px;
}

/*search/resultのエリア毎のバッジ*/
.akamon-bg {
    background-color: #da415a;
    color: #ffffff;
}
.yasuko-bg {
    background-color: #dc8c00;
    color: #ffffff;
}
.ko_dept-bg {
    background-color: #0097ca;
    color: #ffffff;
}
.no_dept-bg {
    background-color: #6da62b;
    color: #ffffff;
}

.nav-tabs > li > a {
    padding: 10px 15px 10px 15px;
}
.area-box.contact-box,
.genre-box.contact-box {
    height:480px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.check-text {
    width: 30%;
}

.body-text,
.place-text,
.time-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.body-text {
    width: 25%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.place-text {
    width: 20%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.time-text {
    width: 6%;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.exp-text {
    width: 3%;
    margin-right: 20px;
    text-align: right;
    float: right;
}
.widget {
    position: relative;
}
.widget:hover {
    filter: brightness(1.1);
}
#row1 .widget {
    height: 150px;
}
.row2 .widget {
    height: 150px;
}
.widget-back {
    height: 100px;
}
.widget-back:hover {
    cursor: pointer;
}
.widget-vote {
    height: 200px;
}
.widget.navy-bg {
    background-color: rgba(26, 179, 148, 0.8);
}
.widget.lazur-bg {
    background-color: rgba(35, 198, 200, 0.8);
}
.widget.yellow-bg {
    background-color: rgba(248, 172, 89, 0.8);
}
.widget.red-bg {
    background-color: rgba(237, 85, 101, 0.8);
}
.widget p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}
.widget-back p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 15px;
}
.widget-vote p {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    overflow: hidden;
}
.widget1 {
    margin-right: -20px;
}
.widget2 {
    margin-left: -20px;
}
.widget1:hover {
    margin-right: 0;
    margin-left: -20px;
}
.widget2:hover {
    margin-left: 0;
    margin-right: -20px;
}

.fa-first {
    position: absolute;
    font-size: 80px;
}
.fa-second {
    position: absolute;
    font-size: 70px;
    color: rgba(255,255,255,0.8);
    left: 50px;

}
.widget-back .fa-first {
    right: 10px;
    text-align: right;
}

.widget-back .fa-second {
    top: 10px;
    right: 50px;
    text-align: right;
}
.vote-comment {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 4px 0;
    background-color: rgba(255,255,255,0.8);
    color: #00a67b;
    text-align: center;
    z-index: 1000;
    width: 100%;
}
.vote-maychan {
    position: absolute;
    top: initial !important;
    bottom: 0 !important;
    height: 40%;
}
.vote-maychan img {
    z-index: 500;

}
.push-outside {
    overflow: scroll;
}
.phone-display {
    display: none;
}
#all-cover2 > .ibox-content > .ibox > .ibox-content > .row  {
    position: relative;
}
.tooltip-btn {
    position: absolute;
    bottom: 0;
    right: 20px;
}
#id1 {
    display: block;
}
#id2 {
    display: none;
}
.origin-map {
    height: 100%;
    width: 100%;
    z-index:1;
    position: absolute;
}
.over-map {
    width: 100%;
    z-index: 2;
    position: absolute;
}
.origin-map img,
.over-map img {
    width: 100%;
}
.over-map img {
    position: absolute;
}
.row-cover {
    width: 100%;
    /*overflow-y: auto;
    overflow-x: hidden;*/
}
#map_img {
    height: 800px;
    overflow-x: scroll;
}
#map_img:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.position-tip {
    overflow-x: scroll;
    overflow-y: hidden;
}
@media screen and ( max-width:1199px ) {
    #all-cover > .ibox-content {
        height: 850px;
    }
    .wizard-big.wizard > .content {
        min-height: 735px !important;
    }
    .panel-body {
        height: 590px;
    }
    .search-in {
        height: 510px;
    }
    .search-in2 {
        height: 560px;
    }
    .area-box.contact-box,
    .genre-box.contact-box {
        height: 550px;
    }
    fieldset .ibox .ibox-content {
        height: 630px;
    }
}
@media screen and ( max-width:991px ) {

    #id1 {
        display: none;
    }
    #id2 {
        display: block;
    }
}
@media screen and ( max-width:767px ) {
    .table-responsive {
        border: none;
    }
    .push-outside {
        height: 570px;
    }
    .vertical-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .vertical-timeline-time-block {
        position: absolute;
        margin-left: 3px;
        top: 50px;
    }
    .vote-maychan {
        height: 70%;
    }
    .vote-comment {
        display: block;
    }
    h2 {
        font-size: 18px;
    }
    .origin-map,
    .over-map {
        width: 700px;
    }
}
@media screen and ( max-width:752px ) {
    .phone-display {
        display: block;
    }
    .search-in {
        height: 450px;
    }
    .search-in2 {
        height: 500px;
    }
    .nav-tabs > li > a > span {
        display: none;
    }
    .nav-tabs > li > a {
        padding: 10px 8px 10px 13px;
    }
    span.place-text,
    span.body-text,
    span.time-text {
        display: none;
    }
    .check-text {
        width: 95%;
    }
    fieldset > div.background-muted > p {
        display: none;
    }
}